@use "../../assets/styles/mixin.scss" as *;
@use "../../assets/styles/variables" as *;

.filterBtn {
  height: 36px;
  color: #fff;
  border: 1px solid #fff;
  padding: 0 14px;
  border-radius: 17px;
  font-size: 17px;
  margin-bottom: 10px;
  & + .filterBtn {
    margin-left: 12px;
  }
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
  &.isMobileOnly {
    min-width: 85px;
    height: 30px;
    padding: 0 12px;
    font-size: 14px;
    margin-bottom: 14px;
    & + .filterBtn {
      margin-left: 0;
    }
  }
  &.selected {
    background-color: #fff;
    color: $blue;
    font-weight: 700;
  }
}
