.filterBtn {
  height: 36px;
  color: #fff;
  border: 1px solid #fff;
  padding: 0 16px;
  border-radius: 17px;
  font-size: 17px;
  margin-bottom: 18px;
  & + .filterBtn {
    margin-left: 12px;
  }
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
  &.isMobileOnly {
    height: 32px;
    padding: 0 14px;
    font-size: 16px;
    & + .filterBtn {
      margin-left: 9px;
    }
  }
}
