@use "../../assets/styles/mixin.scss" as *;
@use "../../assets/styles/variables" as *;

.filterBtn {
  height: 36px;
  color: #fff;
  border: 1px solid #fff;
  padding: 0 14px;
  border-radius: 17px;
  font-size: 17px;
  margin-bottom: 10px;
  margin-right: 12px;
  letter-spacing: 0.5px;
  &:last-child {
    margin-right: 0;
  }
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
  &.isHorMobileOnly {
    min-width: 85px;
    height: 32px;
    padding: 0 12px;
    font-size: 15px;
    margin-bottom: 11px;
    margin-right: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.isVerMobileOnly {
    height: 32px;
    padding: 0 12px;
    font-size: 14px;
    margin-right: 10px;
  }
  &.selected {
    background-color: #fff;
    color: $blue;
  }
}
