.frameTypeButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 278px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  position: relative;
  padding: 17px 16px 24px;
  .frameName {
    font-size: 18px;
    margin-bottom: 14px;
  }
  .imgWrap {
    position: relative;
    display: inline-block;
    button {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
    img {
      width: 100%;
      max-width: 59px;
    }
    &.white {
      img {
        max-width: 130px;
      }
    }
  }
  .selectBtn {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 5;
  }
  .zoomBtn {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    background-image: url(../../assets/img/icon_zoom.png);
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &.mobile {
    width: calc(50% - 6px);
  }
  &.pc {
    width: calc(33.33% - 7px);
  }
}

.frameLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 105;
}

.dim {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.frameLayer img {
  position: relative;
  max-width: 80%;
  max-height: 90%;
  z-index: 101;
  background-color: #afafaf;
}
