@use "../../assets/styles/mixin.scss" as *;
@use "../../assets/styles/variables" as *;

.webCamFrame {
  position: relative;
  width: 521px;
  height: 317px;
  img {
    position: absolute;
    z-index: 10;
  }
  .countdown {
    position: absolute;
    @include font-style($font-title, 70px, 700, #fff);
    font-style: italic;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
  }
}
