.webCamFrame {
  position: relative;
  width: 521px;
  height: 317px;
  img {
    position: absolute;
    z-index: 10;
  }
  .countdown {
    position: absolute;
    font-family: "Poppins";
    font-style: italic;
    font-weight: 700;
    font-size: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0.6;
  }
}
