@use "../../assets/styles/mixin.scss" as *;
@use "../../assets/styles/variables" as *;

.title {
  @include font-style($font-title, 40px, 600, #222);
  line-height: 46px;
  letter-spacing: -0.5px;
  text-align: center;
  strong {
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: -1px;
  }
}

.frameButtonWrap {
  display: flex;
  justify-content: center;
  gap: 30px;
}
