@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixin.scss" as *;

.homeContents {
  padding-top: 32px;
}

.title {
  @include font-style($font-eng-dispCmpBook, 65px, 400, $yellow);
  letter-spacing: 1%;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 62px;
  margin-bottom: 8px;
}

.homeMainWrap {
  position: relative;
  width: 100vw;
  max-width: 500px;
  transform: translateX(-10px);
  margin: 0 auto;
  .imgWrap {
    padding: 0 13.2%;
    text-align: center;
    img {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
    }
  }
  .starLine {
    width: 100%;
    position: absolute;
    transform: translate(-50%, -5.1%);
    left: 50%;
  }
}
