@use "../../assets/styles/mixin.scss" as *;
@use "../../assets/styles/variables" as *;

.container {
  background-color: $blue;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  &.mobile {
    padding: 40px 20px 50px 20px;
  }
  &.pc {
    padding: 44px 30px 0 30px;
    .contents {
      min-width: 700px;
      max-width: 1280px;
      margin: 0 auto;
    }
  }
  &.isHome.mobile {
    padding: 40px 10px 50px 10px;
  }
}
