@font-face {
  font-family: "FreightBig Pro Light";
  src: url("/fonts/FreightBigProLight-Regular.woff2") format("woff2"),
    url("/fonts/FreightBigProLight-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FreightBig Pro";
  src: url("/fonts/FreightBigProSemibold-Regular.woff2") format("woff2"),
    url("/fonts/FreightBigProSemibold-Regular.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FreightTextCmp Pro";
  src: url("/fonts/FreightTextCmpPro-BoldItalic.woff2") format("woff2"),
    url("/fonts/FreightTextCmpPro-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: normal; /* italic → normal */
  font-display: swap;
}
@font-face {
  font-family: "FreightDispCmp Pro Book";
  src: url("/fonts/FreightDispCmpProBook-Italic.woff2") format("woff2"),
    url("/fonts/FreightDispCmpProBook-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal; /* italic → normal */
  font-display: swap;
}
@font-face {
  font-family: "FreightTextCmp Pro Book";
  src: url("/fonts/FreightTextCmpProBook-Italic.woff2") format("woff2"),
    url("/fonts/FreightTextCmpProBook-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal; /* italic → normal */
  font-display: swap;
}
@font-face {
  font-family: "FreightBig Pro Book";
  src: url("/fonts/FreightBigProBook-Regular.woff2") format("woff2"),
    url("/fonts/FreightBigProBook-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "InkLipquid";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "omyu_pretty";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

// reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  font-weight: 400;
}

html,
body {
  font-family: "omyu_pretty", Helvetica, Dotum, "돋움", Apple SD Gothic Neo,
    sans-serif;
  color: #fff;
  background-color: #006dd7;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  font-family: "omyu_pretty", Helvetica, Dotum, "돋움", Apple SD Gothic Neo,
    sans-serif;
}
a {
  color: #222;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  text-decoration: none;
}
a:hover,
a:active {
  color: #222;
  text-decoration: none;
}
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "omyu_pretty";
}
input:focus,
input:focus-visible {
  outline: none;
  box-shadow: none;
}

button:focus,
button:active,
textarea:focus,
textarea:active,
input:focus,
input:active {
  box-shadow: none;
  outline: none;
}

input::-ms-clear {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-tap-highlight-color: transparent !important;
  touch-action: manipulation !important;
  appearance: none !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: none;
}

* {
  box-sizing: border-box;
}
