$font-title: "Poppins", sans-serif;
$font-hand: "InkLipquid", sans-serif;
$font-eng-big: "FreightBig Pro", sans-serif;
$font-eng-textCmp: "FreightTextCmp Pro", sans-serif;
$font-eng-dispCmpBook: "FreightDispCmp Pro Book", sans-serif;
$font-eng-textCmpBook: "FreightTextCmp Pro Book", sans-serif;
$font-eng-bigBook: "FreightBig Pro Book", sans-serif;

$blue: #006dd7;
$yellow: #fffe37;
